<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Page.css'%}">
    <title>pagina no encontrada</title>
</head>
<body>
    <div class="notfound">
        <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;</div>
        <div class="centered"><span class="inverted">&nbsp;4&nbsp;0&nbsp;4&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered">&nbsp;<span class="shadow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        <div class="row">&nbsp;</div>
        <div class="row">Se produjo una excepción fatal 404 en C0DE:ABAD1DEA en 0xC0DEBA5E.</div>
        <div class="row">La solicitud actual será terminada.</div>
        <div class="row">&nbsp;</div>
        <div class="row">* Pulse cualquier tecla para volver a la página anterior.</div>
        <div class="row">* Presione CTRL+ALT+SUPR para reiniciar su computadora. Vas a</div>
        <div class="row">&nbsp;&nbsp;perder cualquier información no guardada en todas las aplicaciones.</div>
        <div class="row">&nbsp;</div>
        <div class="centered">Pulse cualquier tecla para continuar...<span class="blink">&#9608;</span></div>
    </div>
</body>
</html>