<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'vendors/themify-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/foodhut.css'%}">
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <div class="card chat-card">
              <div class="card-header bg-primary text-light">
                <h4>Chat</h4>
              </div>
              <div class="card-body message-container">
                <div class="message-bubble-container mb-4">
                  <div class="message-bubble">
                    <p>¡Hola! ¿Cómo estás?</p>
                  </div>
                </div>
                <div class="message-bubble-container mb-4">
                  <div class="message-bubble-right">
                    <p>Hola, estoy bien, gracias. ¿Y tú?</p>
                  </div>
                </div>
                <div class="message-bubble-container mb-4">
                  <div class="message-bubble">
                    <p>Estoy bien también, gracias por preguntar.</p>
                  </div>
                </div>
              <div class="card-footer input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Escribe un mensaje..."
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
  <script src="{%static 'vendors\bootstrap\bootstrap.js'%}"></script>
  <script src="{%static 'vendors\jquery\jquery-3.4.1.js'%}"></script>
</html>